<%- model_class = Bookmark -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= form_tag(bookmarks_path, method: :get, ) do %>
  <div class="col-md-4 col-md-offset-8">
    <%= text_field_tag 'q', @query, placeholder: "Search bookmark", autofocus: true %>
    <%= submit_tag "Search" %>
  </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:tags) %></th>
      <th><%= model_class.human_attribute_name(:clicks) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.title, bookmark_path(bookmark) %></td>
        <td><%= link_to bookmark.url, jump_bookmark_path(bookmark) %></td>
        <td><%= truncate(bookmark.description, length: 20) %></td>
        <td><%= bookmark.tags.map(&:name).join(",") %></td>
        <td><%= bookmark.clicks %> clicks</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_bookmark_path(bookmark), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      bookmark_path(bookmark),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_bookmark_path,
            :class => 'btn btn-primary' %>
